<div class="content-fundacion">
    <img src="../../../assets/fundacion_1.jpg" alt="Fundación Banasan">
    <div class="fundacion">
        @if (lang == 'es') {
            <h5>Fundación Banasan</h5>
    
            <p>La Fundación Banasan es la entidad encargada de impulsar el desarrollo en las comunidades de influencia de la Comercializadora ubicadas en el departamento del Magdalena. Su estrategia está centrada en el fortalecimiento de capacidades y empoderamiento de las personas y comunidades, posibilitando la auto y socio-gestión comunitaria. <br><br>
                La gestión social de nuestra Fundación se encuentra enmarcada en las siguientes áreas misionales:</p>
    
            <div class="text">
                <ul>
                    <li><p>Desarrollo Social y Comunitario</p></li>
                    <li><p>Capacidades para la Generación de Ingresos</p></li>
                    <li><p>Cultura y Medio Ambiente</p></li>
                </ul>
    
                <a href="https://www.fundacionbanasan.com" target="_blank">Visita el Sitio Web de Fundación Banasan</a>
            </div>
        }@else {
            <h5>Banasan Foundation</h5>
    
            <p>The Banasan Foundation is the entity in charge of promoting development in the communities of influence of the Comercializadora located in the department of Magdalena. Its strategy focuses on capacity building and empowerment of individuals and communities, enabling self-management and community social management. <br><br>
                The social management of our Foundation is framed in the following mission areas:</p>
    
            <div class="text">
                <ul>
                    <li><p>Social and Community Development</p></li>
                    <li><p>Income generation capacity</p></li>
                    <li><p>Culture and Environment</p></li>
                </ul>
                <a href="https://www.fundacionbanasan.com" target="_blank">Visit the Banasan Foundation Web Site</a>
            </div>
        }
    </div>
</div>