
    <div class="content-nuestras-certificaciones">
        <img src="../../../assets/certificaciones/img_cabecera.jpg" alt="Certificaciones Banasan">
        <div class="certificaciones">
            @if (lang == 'es') {
                <h5>Nuestras Certificaciones</h5>
                <p>Contamos con las más exigentes certificaciones sociales, ambientales y de buenas prácticas agrícolas a nivel mundial:</p>
            }@else{
                <h5>Our Certifications</h5>
                <p>We have the most demanding social, environmental and good agricultural practices certifications worldwide:</p>
            }
                <div class="imagesCertificaciones">
                    <div class="image">
                        <img src="../../../assets/certificaciones/logo-global_gap.png" alt="Certificación Gobal Gap" title="Certificación Gobal G.A.P">
                        <h6>Gobal G.A.P</h6>
                    </div>
                    <div class="image">
                        <img src="../../../assets/certificaciones/rainfores.jpg" alt="Certificación Rainforest" title="Certificación Rainforest">
                        <h6>Rainforest</h6>
                    </div>
                    <div class="image">
                        <img src="../../../assets/certificaciones/Farming.png" alt="Certificación Farming" title="Certificación Organic Farming">
                        <h6>Organic Farming</h6>
                    </div>
                    <div class="image">
                        <img src="../../../assets/certificaciones/sa8000.png" alt="Certificación SA8000" title="Certificación SA8000">
                        <h6>SA8000</h6>
                    </div>
                    <div class="image">
                        <img src="../../../assets/certificaciones/Usda Organic.png" alt="Certificación Usda" title="Certificación Usda Organic">
                        <h6>Usda Organic</h6>
                    </div>
                    <div class="image">
                        <img src="../../../assets/certificaciones/basc.png" alt="Certificación BASC" title="Certificación BASC">
                        <h6>BASC</h6>
                    </div>
                </div>
        </div>
    </div>
